* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 24px 10rem;
  height: 100%;
}

.header {
  /* padding: 24px 10rem; */
  display: flex;
  justify-content: space-between;

}

.btn {
  border: none;
  border-radius: 2rem;
  width: 10rem;
  height: 59px;
  font-size: 18px;
  color: white;
}

.btn__header {
  background-color: #13183f;
  z-index: 999;
}

.btn__hero {
  background-color: #f02aa6;
}


.color__text_main {
  color: #13183f;
}

.color__text_desc {
  color: #83869a;
}

.main {
  /* padding: 24px 10rem; */
  display: flex;
  padding-top: 3rem;
  flex-direction: column;
  justify-content: space-between;
  width: 100vh;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* width: 100%; */
  padding: 64px 0;

}

.hero__title {
  font-size: 56px;
}

.hero__maximize {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* width: 60%; */
}

.hero__info {
  display: flex;
}

.hero__info_img {
  position: relative;
  border-radius: 45%;
  background-color: #ff6f48;
  display: grid;
  /* justify-self: flex-end; */
  z-index: 998;
}

.hero__info_members {
  position: absolute;
  display: flex;
  background-color: white;
  flex-direction: column;
  top: 30%;
  left: 65%;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 999;
}

.hero__info_hours {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 45%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 1px 25px 25px lightgray;
  z-index: 999;
}

.hero__info_members p:nth-of-type(1) span {
  font-weight: 700;
  color: #83869a;
  font-size: 16px;
  width: 10%;
}

.hero__info_members p:nth-of-type(1):not(span) {
  color: black;
  font-size: 40px;
  width: 10%;
  font-weight: 600;
}

.hero__info_rect {
  position: absolute;
  top: -14%;
  left: 51%;
}

.hero__info_hours p:nth-of-type(1) span {
  color: black;
  font-size: 40px;
  width: 10%;
}

.hero__info_hours p:nth-of-type(1):not(span) {
  color: #83869a;
  font-size: 16px;
  font-weight: 600;
}

.link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  place-self: center;
}

.link__info {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
gap: 1rem;
  box-shadow: 1px 25px 25px lightgray;
  width: 100%;
  height: 100%;
}

.link__img {
  position: absolute;
  top: -25%;
}

.link__title {
    color: #13183F;
    font-size: 24px;
    font-weight: 600;
}

.link__link {
    color: #f02aa6;
}

.link__info_title {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.random {
    background-color: #f02aa6;
}